<h1>Welcome to Tokyo</h1>
Tokyo (東京 Tōkyō) officially Tokyo Metropolis (東京都 Tōkyō-to), <br>
is one of the 47 prefectures of Japan and has been the capital since 1869.<br>
The Greater Tokyo Area is the most populous metropolitan area in the world.<br>
It is the seat of the Emperor of Japan, the Japanese government and the National Diet.<br>
Tokyo is in the Kantō region on the southeastern side of the main island Honshu and includes the Izu Islands and Ogasawara Islands.<br>
Tokyo was formerly named Edo when Shōgun Tokugawa Ieyasu made the city as his headquarters in 1603.<br>
It became the capital after Emperor Meiji moved his seat to the city from Kyoto in 1868; at that time Edo was renamed Tokyo.<br>
Tokyo Metropolis was formed in 1943 from the merger of the former Tokyo Prefecture and the city of Tokyo (東京市 Tōkyō-shi).<br>


<div ng-repeat="pic in picArray" style="width: 33%; display: inline-block;">         
    <br>
        {{pic.name}} 
    <br>
        <img src="{{pic.picture}}" width="550" height="400">  
</div>